.breach-email {
  border-radius: 5px;
  background: #59C3C3;
  padding: 30px;
  margin: 30px;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.breach-email form {
  background: #EBEBEB;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.hack-info {
  display: flex;
  flex-direction: row;
}

.hack-info p {
  margin: 0px;
  padding: 20px;
  padding-top: 0px;
}


