.breach-email {
  border-radius: 5px;
  background: #59C3C3;
  padding: 30px;
  margin: 30px;
}

.hack-info {
  display: flex;
  flex-direction: row;
}

.hack-info p {
  margin: 0px;
  padding: 20px;
  padding-top: 0px;
}


