.hack {
  background: #EBEBEB;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.hack-info {
  display: flex;
  flex-direction: row;
}

.hack-info p {
  margin: 0px;
  padding: 20px;
  padding-top: 0px;
}

.company-logo {
  width: 130px;
  height: 130px;
  background: white;
  font-size: 30px;
  color: red;
}


