.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
  border-radius: 5px;
  background: #59C3C3;
}

.inputs {
  padding: 30px;
  background: #EBEBEB;
  border-radius: 5px;
}

.inputs input:focus {
  outline: none;
}

.inputs select {
  border: none;
  border: none;
  background: none;
}

.inputs select:focus {
  outline: none;
}

img {
  max-width: 400px;
  max-height: 400px;
}