.App h1 {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 30px;
  background: rgb(30, 228, 228);
}

.inputs {
  padding: 30px;
  background: white;
  border-radius: 5px;
  /* border: 1px solid black; */
}

.inputs input:focus {
  outline: none;
}

.inputs select {
  border: none;
  border: none;
  background: none;
}

.inputs select:focus {
  outline: none;
}

img {
  max-width: 400px;
  max-height: 400px;
  /* border: 1px solid black; */
}