.weather img {
  width: 200px;
  height: 200px;
}

.weather {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: white;
}

.weather-left {
  width: 100%;
}

.weather-right {
  width: 100%;
}