body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(57, 53, 53);
}

.App h1 {
  display: flex;
  justify-content: center;
}

.component {
  border-radius: 5px;
  background: #59C3C3;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  background: white;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

form * {
  margin: 5px;
}
